<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DynamicPage</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: rgb(68, 68, 65);
      }
      .container {
        text-align: center;
        width: 100%;
        max-width: 600px;
      }
      input {
        padding: 10px;
        font-size: 16px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 style="color: white">Quantity</h1>
      <input
        type="number"
        id="quantity"
        placeholder="Enter quantity"
        style="width: 200px"
        min="1"
        max="10"
      />
      <button id="submitBtn">Enviar</button>
    </div>

    <div id="retangulos-container"></div>

    <script>
      function enviarNumero() {
        const numberOfDivs = parseInt(document.getElementById('quantity').value)
        const container = document.getElementById('retangulos-container')

        container.innerHTML = ''

        for (let i = 0; i < numberOfDivs; i++) {
          const item = document.createElement('div')
          item.style.width = '600px'
          item.style.height = '60px'
          item.style.backgroundColor = '#fffb62'
          item.style.marginBottom = '20px'
          item.style.borderRadius = '10px'
          item.style.fontFamily = 'Arial, sans-serif'
          item.innerText = i + 1

          container.appendChild(item)
        }
      }

      document
        .getElementById('submitBtn')
        .addEventListener('click', enviarNumero)
    </script>
  </body>
</html>
