<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DynamicPage</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: rgb(68, 68, 65);
      }
      .container {
        text-align: center;
        width: 100%;
        max-width: 600px;
      }
      input {
        padding: 10px;
        font-size: 16px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 style="color: white">Quantity</h1>
      <input
        type="number"
        id="quantity"
        placeholder="Enter quantity"
        style="width: 200px"
        min="1"
        max="10"
      />
      <button id="submitBtn">Enviar</button>
    </div>

    <div id="retangulos-container"></div>

    <script>
      function enviarNumero() {
        var quantidade = parseInt(document.getElementById('quantity').value)
        var container = document.getElementById('retangulos-container')

        for (var i = 0; i < quantidade; i++) {
          var item = document.createElement('div')
          item.style.width = '500px'
          item.style.height = '50px'
          item.style.backgroundColor = 'blue'
          item.style.marginBottom = '10px'

          container.appendChild(item)

          item.textContent = (i + 1).toString()
        }
      }

      document
        .getElementById('submitBtn')
        .addEventListener('click', enviarNumero)
    </script>
  </body>
</html>
